*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
PRIVATE_PRESENTATION_NOTES.md
app/src/debug/res/values/supabase_config.xml
app/src/release/res/values/supabase_config.xml
